<html>
    <head>
        <title>FLAMES</title>
        <link rel="stylesheet" href="css/foundation.css" type="text/css" />
        <link rel="stylesheet" href="css/application.css" type="text/css" />
    </head>
<body>
<div class="row">
  <div class="medium-8 large-6 medium-centered columns">
    <h1 class="header">F L A M E S</h1>
  </div>
</div>
<div class="row">
  <div class="large-4 medium-8 medium-centered columns">
    <br/>
    <br/>
    <form action="/" >
      <div class="input">
        <input type="text" name="person1"  value= "<%= params[:person1] %>" placeholder="First Person">
        <br/>
      </div>
      <div class="input">
        <input type="text" name="person2" value="<%= params['person2'] %>" placeholder="Second Person">
        <br/>
      </div>
          <input class="submit" type="submit">
    </form>
  </div>
</div>
<div class="row">
  <div class="large-3 medium-3  medium-centered columns">
    <br/>
    <br/>
<% case @result %>
<% when 'F' %>
  <img src="images/friend.jpg" alt="Friend" width="250" height="250">
<% when 'L' %>
  <img src="images/love.jpg" alt="Love" width="250" height="250">
<% when 'A' %>
  <img src="images/affection.jpg" alt="Affection" width="250" height="250">
<% when 'M' %>
  <img src="images/marriage.jpg" alt="Marriage" width="250" height="250">
<% when 'E' %>
  <img src="images/enemy.jpg" alt="Enemy" width="250" height="250">
<% when 'S' %>
  <img src="images/sister.jpg" alt="Sister" width="250" height="250">
<% end %>
</div>
</div>
</body>
</html>
