body {
  background-color: #32DC86;
}
.header {
  text-align: center;
  font-size: 5em;
}
form div.input {
  text-align: center;
}
input {
    border-radius:2px;
    border: solid 0px;
    padding: 1em;
}
.submit {
  width: 100%;
}

.flames_image {
	padding: 2em 0;
}

@media only screen and (min-width: 40.063em) { 

  .header {
    padding-top: 1em;
  }

  form {
    padding-top: 4em;
  }

  .flames_image {
    padding: 10em 0;
  }
}